.shopping-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 20px;
}

.shopping-list-filtered {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 20px;
}
